.atdpdf-button-container {
	width:100%;
	float:left;
	padding-top: 20px;
	padding-bottom: 40px;
}

a.atdpdf-button {
	display: inline-block;
}

a.atdpdf-button:link, a.atdpdf-button:visited {

}

a.atdpdf-button:hover {

}

a.atdpdf-button span.atdpdf-button-icon {
	font-size:140%;
	margin-right:5px;
}

.atdpdf-content {}
